<ion-view hide-back-button="true" view-title="Awesome">
  <ion-content class="padding">
      <!--<div class="we-have-plan-div">-->
        <!--<div class="text1">-->
          <!--<p class="padding-0">Tenemos un <span class="yellow">plan</span><img class="img-4g" src="img/elementos-02.svg"></img> que te alcanza</p>-->
        <!--</div>-->
        <!--<div class="text2">-->
          <!--<p>para todos <span class="yellow"> tus planes</span></p>-->
        <!--</div>-->
      <!--</div>-->

      <div ng-controller="MainCtrl">
        <ion-list>
          <div class="item range range-assertive">
            <i class="img-slider-1"></i>
            <input type="range" name="volume" min="0" max="1000" value="0" ng-change="sumaChanged()" ng-model="volume">
            <div class="range-number">{{volume}}</div>
          </div>
          <div class="item range">
            <i class="img-slider-2"></i>
            <input type="range" name="volume" min="0" max="100" value="4" ng-change="sumaChanged()" ng-model="volume2">
            <div class="range-number">{{volume2}}</div>
          </div>
          <div class="item range">
            <i class="img-slider-3"></i>
            <input type="range" name="volume" min="0" max="100" value="5" ng-model="volume3">
            <div class="range-number">{{volume3}}</div>
          </div>
          <div class="item range">
            <i class="img-slider-4"></i>
            <input type="range" name="volume" ng-model="data1.volume" style="-webkit-slider-thumb:before {background: green !important;}">
            <div class="range-number" ng-bind="data1.volume"></div>
          </div>
          <div class="item range">
            <i class="img-slider-5"></i>
            <input type="range" name="hrs-per-wk" min="5" max="40" value="5">
            <div class="range-number">{{volume5}}</div>
          </div>
          <div class="item range">
            <i class="img-slider-6"></i>
            <input type="range" name="volume" min="0" max="100" value="3" ng-model="volume6">
            <div class="range-number">{{volume6}}</div>
          </div>
          <div class="item range">
            <i class="img-slider-7"></i>
            <input type="range" name="volume" min="0" max="100" value="0" ng-model="volume7">
            <div class="range-number">{{volume7}}</div>
          </div>
        </ion-list>

        <div ng-bind="suma"></div>
      </div>

      <button class="button" ng-click="toIntro()">atras</button>
  </ion-content>
</ion-view>
