<ion-view hide-back-button="true" view-title="Awesome">
  <ion-content class="padding">
      <!--<div class="we-have-plan-div">-->
        <!--<div class="text1">-->
          <!--<p class="padding-0">Tenemos un <span class="yellow">plan</span><img class="img-4g" src="img/elementos-02.svg"></img> que te alcanza</p>-->
        <!--</div>-->
        <!--<div class="text2">-->
          <!--<p>para todos <span class="yellow"> tus planes</span></p>-->
        <!--</div>-->
      <!--</div>-->

      <div ng-controller="MainCtrl">
        <ion-list>
          <div class="list-range">
          <div class="item range range-assertive">
            <i class="img-slider-1"></i>
            <input type="range" name="volume" min="0" max="1000"  ng-change="sumaChanged()" ng-model="data1.volume">
            <div class="range-number" ng-bind="data1.volume"></div>
          </div>
          <div class="item range">
            <i class="img-slider-2"></i>
            <input type="range" name="volume" min="0" max="100"  ng-change="sumaChanged()" ng-model="data2.volume">
            <div class="range-number" ng-bind="data2.volume"></div>
          </div>
          <div class="item range">
            <i class="img-slider-3"></i>
            <input type="range" name="volume" min="0" max="100"  ng-change="sumaChanged()" ng-model="data3.volume">
            <div class="range-number" ng-bind="data3.volume"></div>
          </div>
          <div class="item range">
            <i class="img-slider-4"></i>
            <input type="range" name="volume" ng-model="data4.volume" ng-change="sumaChanged()" style="-webkit-slider-thumb:before {background: green !important;}">
            <div class="range-number" ng-bind="data4.volume"></div>
          </div>
          <div class="item range">
            <i class="img-slider-5"></i>
            <input type="range" name="hrs-per-wk" min="5" max="40" value="5" ng-change="sumaChanged()" ng-model="data5.volume">
            <div class="range-number" ng-bind="data5.volume"></div>
          </div>
          <div class="item range">
            <i class="img-slider-6"></i>
            <input type="range" name="volume" min="0" max="100" value="3" ng-change="sumaChanged()"  ng-model="data6.volume">
            <div class="range-number" ng-bind="data6.volume"></div>
          </div>
          <div class="item range">
            <i class="img-slider-7"></i>
            <input type="range" name="volume" min="0" max="100" value="0" ng-change="sumaChanged()" ng-model="data7.volume">
            <div class="range-number" ng-bind="data7.volume"></div>
          </div>
        </ion-list>
      </div>

        <div class="calculator-div">
          <div class="calculator-block border-radius">
            <div class="consum-monthly">Tu consumo mensual:</div>
            <div class="quantity-gigas"><span id="total-gigas"><div ng-bind="suma" style="background-color: #fff;
padding: 0px 0px 2px 18px;
width: 20%;
border-radius: 50%;
margin-top: 20px;
position: relative;
top: -60px;
left: 152px;"></div></span> <span class="unit-storage">GB</span></div>
          </div>
          <div style="margin: 12px auto;
padding: 10px;
background: #fcea00;
height: 50px;
font-size: 29px;
line-height: 38px;
border-radius: 13px;
text-align: center;">
            <div class="activate-now"><strong>¡Actívate ya!</strong></div>
          </div>
        </div>
      </div>

      <!--<button class="button" ng-click="toIntro()">atras</button>-->
  </ion-content>
</ion-view>
