body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 50px -20px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
/* Empty. Add your own CSS if you like */
html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

body, .pane {
  /*background-color: #791577;*/
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url('../img/background.jpg')no-repeat;
  background-size: cover;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}
.range-number{
  color: white;
  font-size: 150%;
}

.item {
  background-color: transparent;
  border: 1px solid transparent;
}

.text-datometro{
  text-align: center;
  padding-top: 20%;
}
.img-datometro{
  text-align: center;
  padding-top: 5%;
}

.btn-datometro{
  width: 95%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid white;
}

.unit-storage {
  color: black;
  font-size: 1.2em;
  margin-top: -5%;
  margin-left: 10px;
  position: relative;
  top: -97px;
  left: 206px;
  font-weight: 900;
}

.img-4g{
  height: 50px;
  position: relative;
  top: 21px;
  padding-left: 3px;
}
.we-have-plan-div .text1 {
  font-size: 125%;
}

.we-have-plan-div .text2 {
  background-color: #791577;
  margin-top: -8px;
  height: 45px;
  justify-content: left;
  display: flex;
  align-items: center;
  font-size: 150%;
}
.we-have-plan-div {
  color: #FBFAFB;
  height: 140px;
  margin-left: 4%;
  margin-right: 4%;
}

.padding-0{
  margin-top: 0px;
}
.calculator-div {
  width: 90%;

  margin: auto;
}

.border-radius {
  border-radius: 10px 10px 0 0;
  justify-content: center;
}

.calculator-block {
  argin: -50px 0 0 0px;
  padding: 10px;
  background: #fcea00;
  height: 47px;
  font-size: 15px;
  line-height: 38px;
  border-radius: 13px;
  padding: 5px;
}

.list-range {
  border: none;
  margin: 30px 30px 60px 30px;
}

.padding-20{
  margin-top: 20px;
}

.yellow {
  color: #FCEA00;
}
.img-slider-1 {
  width: 45px;
  content:url("../img/elementos-04.svg");
}
.img-slider-2 {
  width: 45px;
  content:url("../img/elementos-05.svg");
}
.img-slider-3 {
  width: 45px;
  content:url("../img/elementos-06.svg");
}
.img-slider-4 {
  width: 45px;
  content:url("../img/elementos-07.svg");
}
.img-slider-5 {
  width: 45px;
  content:url("../img/elementos-08.svg");
}
.img-slider-6 {
  width: 45px;
  content:url("../img/elementos-09.svg");
}
.img-slider-7 {
  width: 45px;
  content:url("../img/elementos-10.svg");
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: -1px;
  z-index: 1;
  width: 11px;
  background-image: "../img/elementos-10.svg";
  /*    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
  */
  height: 11px;

  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.title-app
{
  color: #FBFAFB;
  font-size: 55px;
  font-weight: 400;
}


.button {
  border-color: transparent;
  background-color: #ffe800;
  color: #080307;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
  font-weight: 900;
  font-size: 24px;
  border: solid 1px #000 !important;
}


.we-have-plan-div .text1 {
  font-size: 19px;
  line-height: 60px;
}

.we-have-plan-div .text2 {
  background-color: transparent;
  margin-top: -8px;
  height: 21px;
  display: flex;
  align-items: center;
  font-size: 22px;
}
.range {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 2px 11px;
  font-size: 20px;
}




